<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
        <img src="{{ site.baseurl }}/{{ site.uswds_path }}/img/favicons/favicon-57.png" alt="U.S. flag">
        <p>An official website of the United States government</p>
      </div>
      <div class="usa-disclaimer-text">
      	<p>This site is a prototype and its information may not be up to date.</p>
      	<p>Go to the official <a href="https://www.defensetravel.dod.mil/site/travelreg.cfm">Defense Travel website</a> for the official version of the Joint Travel Regulations.</p>
      </div>
    </header>
  </div>
</div>
